<h1>Alumno</h1>
<h4>James .....{{codigo}}</h4>
<p>
	<div class="row">
		<form ng-submit="guardarAlumno()">
			<div ng-hide="creando">
				Código:
				<br>
				<input type="text" class="form-control" ng-model="alumno.codigo" readonly="readonly" required="required">
				<br>
			</div>

			Nombre:
			<br>
			<input placeholder="Nombre" type="text" class="form-control" ng-model="alumno.nombre" required="required">
			<br>

			Telefono:
			<br>
			<input type="text" class="form-control" ng-model="alumno.telefono" ui-mask="{{telefonoMask}}" required="required">
			<br>

			Dirección:
			<br>
			<textarea placeholder="Dirección del alumno"  class="form-control" ng-model="alumno.direccion" rows="5" required="required"></textarea> 
			<br>
			
			<button type="submit" class="btn btn-primary">Guardar Cambios</button>
		</form>
		
		<br><br>

		<p class="text-success animated fadeIn fast" ng-show="actualizado">Registro Actaulizado</p>


	</div>
</p>